---
name: Code Linting
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Run CodeSniffer
        uses: discoverygarden/CodeSniffer@v1
        with:
          phpcs-ignore: config/install/islandora_citations.*
